@use "./global" as *;


.home {
  max-width: 1240px;
  margin: 0 auto;
  padding: 2rem 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}